services:

  server:
    image: registry:latest
    container_name: registry
    environment:
      - REGISTRY_HTTP_HEADERS_Access-Control-Allow-Origin=['*']
      - REGISTRY_HTTP_HEADERS_Access-Control-Allow-Methods=['HEAD','GET','OPTIONS']
      - REGISTRY_HTTP_HEADERS_Access-Control-Allow-Headers=['Accept','Cache-Control']
      - REGISTRY_STORAGE_DELETE_ENABLED=true
      - OTEL_TRACES_EXPORTER=none 
    labels:
      container_group: registry
    logging:
      driver: journald
      options:
        labels: container_group
    networks:
    - local
    ports:
    - 5000:5000
    restart: unless-stopped
    volumes:
    - ${DEVSTACK_DIR:?err}/registry:/var/lib/registry

  ui:
    image: joxit/docker-registry-ui:main
    container_name: registry-ui
    environment:
      - NGINX_PROXY_PASS_URL=http://registry:5000
      - REGISTRY_TITLE=Null Registry
      - REGISTRY_SECURED=false
      - SINGLE_REGISTRY=true
      - DELETE_IMAGES=true
      - SHOW_CONTENT_DIGEST=true
      - SHOW_CATALOG_NB_TAGS=true
      - CATALOG_MIN_BRANCHES=1
      - CATALOG_MAX_BRANCHES=1
      - CATALOG_ELEMENTS_LIMIT=1000
      - TAGLIST_PAGE_SIZE=100
    networks:
    - local
    ports:
    - 5080:80
    restart: unless-stopped
