[defaults]
callback_result_format  = yaml
display_skipped_hosts   = false
deprecation_warnings    = false
host_key_checking       = false
retry_files_enabled     = false
interpreter_python      = auto_silent
