services:
  drone-runner:
    depends_on:
      - drone-server
    extends:
      file: drone/docker-compose.yml
      service: runner

  drone-server:
    depends_on:
      gitea:
        condition: service_started
      postgres:
        condition: service_healthy
    extends:
      file: drone/docker-compose.yml
      service: server

  gitea:
    depends_on:
      postgres:
        condition: service_healthy
    extends:
      file: gitea/docker-compose.yml
      service: server

#  grafana:
#    depends_on:
#      - influxdb
#    extends:
#      file: monitor/docker-compose.yml
#      service: grafana

#  influxdb:
#    extends:
#      file: monitor/docker-compose.yml
#      service: influxdb

  kanidm:
    extends:
      file: kanidm/docker-compose.yml
      service: server

#  ollama:
#    extends:
#      file: ollama/docker-compose.yml
#      service: server

#  ollama-webui:
#    extends:
#      file: ollama/docker-compose.yml
#      service: webui

  pgadmin:
    depends_on:
      postgres:
        condition: service_healthy
    extends:
      file: postgres/docker-compose.yml
      service: pgadmin

  postgres:
    extends:
      file: postgres/docker-compose.yml
      service: server

#  pypi-server:
#    extends:
#      file: pypi/docker-compose.yml
#      service: server

#  registry:
#    extends:
#      file: registry/docker-compose.yml
#      service: server

#  registry-ui:
#    depends_on:
#      - registry
#    extends:
#      file: registry/docker-compose.yml
#      service: ui

#  selenium:
#    extends:
#      file: selenium/docker-compose.yml
#      service: server

#  telegraf:
#    depends_on:
#      - influxdb
#    extends:
#      file: monitor/docker-compose.yml
#      service: telegraf

networks:
  local:
    external: true
