services:

  runner:
    image: drone/drone-runner-docker
    container_name: drone_runner
    environment:
      - DRONE_DEBUG=true
      - DRONE_TRACE=false
      - DRONE_RPC_PROTO=http
      - DRONE_RPC_HOST=drone_server
      - DRONE_RPC_SECRET=${DRONE_RPC_SECRET:?err}
      - DRONE_RPC_DUMP_HTTP=false
      - DRONE_RPC_DUMP_HTTP_BODY=false
      - DRONE_RUNNER_CAPACITY=2
      - DRONE_RUNNER_NAME=drone_runner
      - DRONE_UI_USERNAME=${DRONE_UI_USERNAME:?err}
      - DRONE_UI_PASSWORD=${DRONE_UI_PASSWORD:?err}
    labels:
      container_group: drone
    logging:
      driver: journald
      options:
        labels: container_group
    networks:
      - local
    ports:
      - 7300:3000
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  server:
    image: drone/drone:2
    container_name: drone_server
    environment:
      - DRONE_AGENTS_ENABLED=true
      - DRONE_DATABASE_DATASOURCE=${DRONE_DATABASE_SOURCE:?err}
      - DRONE_DATABASE_DRIVER=${DRONE_DATABASE_DRIVER:?err}
      - DRONE_DATADOG_ENABLED=false
      - DRONE_DATADOG_ENDPOINT=
      - DRONE_GIT_ALWAYS_AUTH=false
      - DRONE_GITEA_CLIENT_ID=${DRONE_GITEA_CLIENT_ID:?err}
      - DRONE_GITEA_CLIENT_SECRET=${DRONE_GITEA_CLIENT_SECRET:?err}
      - DRONE_GITEA_SERVER=${DRONE_GITEA_SERVER:?err}
      - DRONE_GITEA_SKIP_VERIFY=true
      - DRONE_LIMIT_TRUSTED=false
      - DRONE_LOGS_DEBUG=true
      - DRONE_REGISTRATION_CLOSED=false
      - DRONE_RPC_SECRET=${DRONE_RPC_SECRET:?err}
      - DRONE_RUNNER_CAPACITY=2
      - DRONE_SERVER_HOST=${DRONE_SERVER_HOST:?err}
      - DRONE_SERVER_PROTO=http
      - DRONE_TLS_AUTOCERT=false
      - DRONE_USER_CREATE=username:${DRONE_UI_USERNAME:?err},admin:true
      - DRONE_COOKIE_SECRET=${DRONE_COOKIE_SECRET:?err}
    labels:
      container_group: drone
    logging:
      driver: journald
      options:
        labels: container_group
    mem_limit: 1G
    memswap_limit: 2G
    mem_reservation: 512m
    networks:
      - local
    ports:
      - 7380:80
      - 7443:443
    restart: unless-stopped
    volumes:
      - ${DEVSTACK_DIR:?err}/drone:/var/lib/drone/
