services:

  server:
    container_name: pypi_server
    image: pypiserver/pypiserver:latest
    labels:
      container_group: pypi
    logging:
      driver: journald
      options:
        labels: container_group
    networks:
    - local
    ports:
    - 9000:8080
    restart: unless-stopped
    volumes:
    - ${DEVSTACK_DIR:?err}/packages:/data/packages
