services:
  server:
    image: bitnami/openldap:latest
    container_name: ldap
    environment:
      - LDAP_ADMIN_USERNAME=${LDAP_ADMIN_USERNAME:?err}
      - LDAP_ADMIN_PASSWORD=${LDAP_ADMIN_PASSWORD:?err}
      - LDAP_USERS=${LDAP_USERS:?err}
      - LDAP_PASSWORDS=${LDAP_PASSWORDS:?err}
      - LDAP_ROOT=${LDAP_ROOT:?err}
      - LDAP_ADMIN_DN=${LDAP_ADMIN_DN:?err}
    labels:
      container_group: ldap
    logging:
      driver: journald
      options:
        labels: container_group
    networks:
      - local
    ports:
      - 1389:1389
      - 1636:1636
    restart: unless-stopped
    volumes:
      - ${DEVSTACK_DIR:?err}/ldap_data:/bitnami/openldap

  ui:
    image: dnknth/ldap-ui
    container_name: ldap-ui
    environment:
      - LDAP_URL: "${LDAP_URL:-ldap://ldap/}"
    labels:
      container_group: ldap
    logging:
      driver: journald
      options:
        labels: container_group
    networks:
      - local
    ports:
      - 5000:5000
    restart: unless-stopped
