services:

  server:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        OLLAMA_MODEL: ${OLLAMA_MODEL:-llama3.2:latest}
    container_name: ollama_server
    environment:
      - OLLAMA_HOST=0.0.0.0:9734
    labels:
      container_group: ollama
    logging:
      driver: journald
      options:
        labels: container_group
    networks:
      - local
    ports:
      - 9734:9734
    restart: unless-stopped
    volumes:
      - ${DEVSTACK_DIR:?err}/ollama:/root/.ollama

  webui:
    container_name: ollama_webui
    environment:
      - OLLAMA_BASE_URL=http://ollama:9734
    extra_hosts:
      - "host.docker.internal:host-gateway"
    image: ghcr.io/open-webui/open-webui:ollama
    labels:
      container_group: ollama
    logging:
      driver: journald
      options:
        labels: container_group
    networks:
      - local
    ports:
      - 9780:8080
    restart: unless-stopped
    volumes:
      - ${DEVSTACK_DIR:?err}/ollama:/root/.ollama
      - ${DEVSTACK_DIR:?err}/open-webui:/app/backend/data

