services:
  server:
    container_name: kanidm
    image: kanidm/server:latest
    extra_hosts:
      - "${AUTH_DOMAIN:?err}=${AUTH_HOST:?err}"
    networks:
      - local
    ports:
      - 8443:8443
    restart: unless-stopped
    volumes:
      - ${DEVSTACK_DIR:?err}/kanidm:/data
      - ./conf/server.toml:/data/server.toml
