services:
  server:
    container_name: kanidm
    image: kanidm/server:latest
    networks:
      - local
    ports:
      - 8443:8443
    restart: unless-stopped
    volumes:
      - ${DEVSTACK_DIR:?err}/kanidm/data:/var/lib/kanidm
