services:

  server:
    build: image/.
    image: 172.16.16.1:5000/postgres:latest
    container_name: postgres
    labels:
      container_group: postgres
    logging:
      driver: journald
      options:
        labels: container_group
    networks:
      - local
    ports:
      - 5432:5432
    restart: unless-stopped
    volumes:
      - ${DEVSTACK_DIR:?err}/postgres:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d postgres"]
      interval: 10s
      timeout: 10s
      retries: 5


  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL:?err}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASS:?err}
      PGADMIN_DISABLE_POSTFIX: 1
    labels:
      container_group: postgres
    logging:
      driver: journald
      options:
        labels: container_group
    networks:
      - local
    ports:
      - 5480:80
    restart: unless-stopped
