APP_NAME = Gogs
RUN_USER = git
RUN_MODE = prod

[database]
DB_TYPE  = postgres
HOST     = postgres:5432
NAME     = gogs
USER     = gogs
PASSWD   = gogs
SSL_MODE = disable

[repository]
ROOT          = /data/git/gogs-repositories

[repository.upload]
FILE_MAX_SIZE = 1024
MAX_FILES     = 10

[server]
DOMAIN           = {{ gogs_domain }}
HTTP_PORT        = 3000
ROOT_URL         = {{ gogs_root_url }}
DISABLE_SSH      = false
SSH_PORT         = 3022
START_SSH_SERVER = true
OFFLINE_MODE     = true

[service]
REGISTER_EMAIL_CONFIRM = false
ENABLE_NOTIFY_MAIL     = false
DISABLE_REGISTRATION   = true
ENABLE_CAPTCHA         = false
REQUIRE_SIGNIN_VIEW    = false

[picture]
DISABLE_GRAVATAR        = true
ENABLE_FEDERATED_AVATAR = false

[session]
PROVIDER = file

[log]
MODE      = console, file
LEVEL     = Info
ROOT_PATH = /app/gogs/log

[log.console]
LEVEL     = Info

[log.file]
LEVEL     = Info

[security]
INSTALL_LOCK = true
SECRET_KEY   = {{ gogs_secret_key }}
LOCAL_NETWORK_ALLOWLIST = drone_server
