services:

  server:
    container_name: selenium_server
    image: selenium/standalone-firefox
    labels:
      container_group: selenium
    logging:
      driver: journald
      options:
        labels: container_group
    networks:
      - local
    ports:
      - 7444:4444
      - 7900:7900
    restart: unless-stopped
